@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300;1,400&display=swap');

@font-face {
	font-family: 'Neue Machina';
	src: url('/assets/fonts/neue-machina-regular.otf');
}
* {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	background: linear-gradient(300deg, rgba(70, 9, 179, 1) 0%, rgba(2, 0, 9, 1) 30%, rgba(2, 0, 9, 1) 50%, rgba(2, 0, 9, 1) 70%, rgba(70, 9, 179, 1) 100%);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Fira Sans', sans-serif;
	color: #e1d7ff;
}
.light-mode {
	background: rgb(197, 177, 255);
	background: linear-gradient(300deg, rgba(197, 177, 255, 1) 0%, rgba(254, 253, 255, 1) 30%, rgba(255, 255, 255, 1) 51%, rgba(253, 252, 255, 1) 70%, rgba(197, 177, 255, 1) 100%);
	background-size: cover;
	background-attachment: fixed;
}
h2 {
	font-size: 1.125rem;
	text-align: left;
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 20px;
}
h3 {
	font-size: 0.875rem;
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
	color: #19ff44;
	line-height: 1.5rem;
}
p {
	line-height: 1.25rem;
	font-size: 0.875rem;
	font-weight: 400;
	color: #a3a3a3;
}
p span {
	color: #fff;
}
a {
	color: #ff8900;
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 20px;
	transition: transform 0.3s ease;
}
a:hover {
	text-decoration: underline;
	transform: scale(1.1);
}
.main {
	margin: 1rem;
	padding: 1rem;
	border-radius: 5px;
	border: 1px solid #4609b3;
}
@media only screen and (min-width: 768px) {
	.main {
		max-width: 1024px;
		margin: 1rem auto;
	}
}
