.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

/* .header::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 2rem;
	height: 1rem;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('/assets/img/icons/menup.svg');
} */

.header .photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #4609b3;
}
.header .title {
	text-align: center;
	font-weight: 300;
	font-family: 'Neue Machina';
	color: #e1d7ff;
	margin: 1rem 0;
	padding: 0;
	line-height: 2.5rem;
}
.header .title span {
	color: #19ff44;
}
.informations {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	padding: 0;
}
.informations li {
	margin: 0.3rem 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.125rem;
}
.informations img {
	height: 1.5rem;
}
.informations .icons {
	display: flex;
	flex-direction: row;
	align-self: flex-end;
	justify-content: space-around;
	margin-top: 2rem;
}
.job::before,
.location::before {
	content: '';
	width: 1rem;
	height: 1rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	margin-right: 1rem;
}
.informations .job::before {
	background-image: url('/assets/img/icons/job.svg');
}
.informations .location::before {
	background-image: url('/assets/img/icons/location.svg');
}
.informations .phone::before {
	background-image: url('/assets/img/icons/phone.svg');
}
.informations .email::before {
	background-image: url('/assets/img/icons/email.svg');
}
/* Exemplo de background gradiente em svg
.main::before {
	content: '';
	background-image: url('/assets/img/background.svg');
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: fixed;
	top: 0;
	left: 0;
	width: 140vw;
	height: 100vh;
	z-index: -1;
}
.main::after {
	content: '';
	background-image: url('/assets/img/background.svg');
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 140vw;
	height: 100vh;
	z-index: -1;
	transform: rotate(180deg);
}
 */

@media only screen and (min-width: 768px) {
	.header {
		display: grid;
		grid-template-areas:
			'photo title'
			'photo informations';
		margin: 2rem 0 4rem;
	}
	.header .photo {
		grid-area: photo;
		margin: 0 auto;
	}
	.header .title {
		grid-area: title;
		text-align: start;
		width: 500px;
	}
	.header .informations {
		grid-area: informations;
	}
}

@media only screen and (max-width: 768px) {
	.header .title {
		height: 88px;
	}
}
