.languages {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
}
.languages li {
	padding: 0.5rem 0;
	font-weight: 400;
	margin-right: 1rem;
}
.languages li::before {
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin-right: 0.5rem;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('/assets/img/icons/done.svg');
}
